backports-abc==0.5
certifi==2022.12.7
chardet==3.0.4
idna==2.6
MySQL-python==1.2.5
olefile==0.44
Pillow==4.3.0
qiniu==7.2.0
redis==2.10.6
requests==2.18.4
singledispatch==3.4.0.3
six==1.11.0
tornado==4.5.2
torndb==0.3
urllib3==1.22
